<footer class="page-footer front-small pt-4" style="background-color:rgba(112, 10, 102, 0.877);">
    <div class="contaneir">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Siga-me nas redes sociais </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/anapatricia.dasilva.378" target=" _blanck" class="p-1">
                            <img class="tm-social" src="../../assets/img/facebook.png" alt="Logo do Facebook"
                                width="50px" height="50px">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/anapatytavares/" target=" _blanck" class="p-1">
                            <img class="tm-social" src="../../assets/img/instagram.png" alt="Logo do Instagram"
                                width="50px" height="50px">
                        </a>
                    </li>

                    <li>
                        <a href="https://web.whatsapp.com/send?phone=5511986785801" target=" _blanck" class="p-1">
                            <img class="tm-social" src="../../assets/img/whatsapp.png" alt="Logo do Whatsapp"
                                width="50px" height="50px">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/ana-patr%C3%ADcia-da-silva-579856215/" target="_blanck"
                            class="p-1">
                            <img class="tm-social p-30" src="../../assets/img/linkedin.png" alt="Logo do Linkedin"
                                width="50px" height="50px">
                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2021 Copyright: by Blog Pessoal </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org/"> brasil.generation.org</a>
    </div>

</footer>